* {
  box-sizing: border-box;
}

:root {
  --black: #272a31;
  --orange: #ec5242;
  --gray: #d3d3d3;
  --white: #fff;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

/* Home page mobile start */
.main-invite-section {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  top: 0;
}

.hamburger-container {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: transparent;
  z-index: 100;
}

.hamburger {
  display: block;
  position: fixed;
  top: 3%;
  left: 6%;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0;
  background-color: var(--black);
  z-index: 2;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.mobile-menu {
  width: 100%;
  position: fixed;
  left: -100%;

  /* padding-right: 30px; */
  padding-top: 80px;
  background: var(--white);
  z-index: 10;
}

.mobile-menu.active {
  left: 0;
}

.mobile-menu ul {
  display: block;
  width: 100%;
  height: 100vh;
  padding: 0;
}

.mobile-menu ul li {
  list-style-type: none;
  padding-bottom: 20px;
  padding-left: 28px;
}

.contact-container a {
  display: block;
  text-align: center;
  color: var(--black);
  font-weight: bold;
  font-size: 15px;
}

.footer-license a {
  font-size: 0.7rem;
  text-decoration: none;
  color: var(--black);
}

.mobile-menu ul li a {
  color: #3a4a42;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  text-decoration: none;
}

.text-container {
  margin-top: 15%;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10%;
}

.intro-text-container {
  margin-top: 20px;
  margin-bottom: 10px;
}

.intro-text1 {
  font-size: 23px;
  color: var(--orange);
  margin-bottom: 0;
}

.intro-text2 {
  font-size: 40px;
  color: var(--orange);
  margin-top: 0;
}

.content-container {
  border: 4px solid rgb(255, 255, 255);
  background-color: rgb(247, 247, 248);
  margin: 15px 0 40px;
  line-height: 160%;
  padding: 10px 25px 0;
  font-size: 1em;
  margin-bottom: 10px;
}

.dtl-container {
  align-items: center;
}

.date-time {
  font-size: 25px;
  font-weight: bold;
  color: var(--black);
  margin-bottom: 0;
}

.location {
  font-size: 15px;
}

/* Main-program Start */

.main-program-container {
  display: flex;
  flex-direction: column;
  margin: 0 10px 20px 10px;
  background-image: url(images/pattern_bg.png);
  background-size: 30px;
  background-repeat: repeat;
  background-color: var(--black);
}

/* .main-intro-container {
    display: flex;
} */

.main-intro-text {
  color: var(--gray);
  text-align: center;
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 0;
}

.guide-bar {
  width: 53px;
  height: 16px;
  border-bottom: 1px solid var(--orange);
  margin: 0 auto 20px;
}

.program-list {
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
  list-style-type: none;
  padding: 0;
}

.program-list .list-item {
  display: flex;
}

.program-list .list-item .sub-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  margin: 0 0 0.5em;
  padding: 0 5px;
  vertical-align: middle;

  /* display: table; */
  height: auto;
  overflow: auto;
  background: rgba(255, 255, 255, 0.1);
  list-style-type: none;
  gap: 20px;
}

.speaker-img img {
  width: 100%;
  height: auto;
  margin: 0;
}

.footer-logo img {
  width: 100px;
  height: auto;
}

.footer-license img {
  width: 70px;
  height: auto;
}

.sub-list li img {
  width: 50px;
  height: auto;
}

.sub-list li .sub-list-title {
  font-size: 15px;
  font-weight: bold;
  color: var(--orange);
}

.sub-list li .sub-list-text {
  font-size: 0.8em;
  font-weight: bold;
  color: var(--gray);
  text-align: left;
  word-break: keep-all;
}

.btn-submit-container {
  display: block;
  text-align: center;
  margin-bottom: 5%;
}

.btn-submit {
  width: 70%;
  padding: 5%;
  background-color: var(--orange);
  font-size: 15px;
  font-weight: bold;
  color: var(--white);
  border: none;
  cursor: pointer;
}

.speaker-section {
  display: flex;
  flex-direction: column;
  margin: 5px 5px 10px;
}

.speaker-intro-text {
  color: var(--black);
  text-align: center;
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 0;
}

#speakers {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
}

.speaker-container {
  display: grid;
  grid-template-columns: 2fr 4fr;
  align-items: center;
  gap: 0.8rem;
}

.speaker-img {
  width: fit-content;
  height: auto;
}

.speaker-info {
  max-width: 21.563rem;
  font-size: 0.7rem;
  font-weight: 400;
  color: var(--black);
}

.speaker-name {
  font-weight: 900;
  color: var(--black);
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.speaker-position {
  font-size: 0.9rem;
  font-weight: 400;
  font-style: italic;
  color: var(--orange);
  margin-bottom: 0.5rem;
}

.guide-bar2 {
  width: 20px;
  height: 10px;
  border-bottom: 1px solid var(--gray);
  margin-bottom: 10px;
}

#see-more-btn {
  border: 0.1rem solid #272a31;
  background: inherit;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  color: var(--black);
}

#see-more-btn img {
  margin-left: 0.2rem;
}

.hidden {
  display: none;
}

/* Home page mobile end */

/* About page mobile start */

.main-about-section {
  display: flex;
  flex-direction: column;
  background-color: rgb(247, 247, 248);
  top: 0;
}

.about-text-container {
  margin-top: 15%;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10%;
}

.about-text1 {
  text-align: center;
  font-size: 23px;
  color: var(--orange);
  margin-bottom: 0;
}

.about-text2 {
  text-align: center;
  font-size: 40px;
  color: var(--orange);
  margin-top: 0;
}

.about-content-container {
  text-align: center;
  border: 4px solid rgb(255, 255, 255);
  background-color: var(--white);
  margin: 15px 0 40px;
  line-height: 160%;
  padding: 10px 25px 0;
  font-size: 1em;
  margin-bottom: 10px;
}

.about-content-desktop-text {
  display: none;
}

.contact-container {
  align-items: center;
}

.contact-us-text {
  text-align: center;
  font-size: 1rem;
  color: var(--black);
  margin-bottom: 0;
}

.about-logo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10%;
}

.about-logo-text1 {
  color: var(--black);
  text-align: center;
  font-size: 23px;

  /* font-weight: bold; */
  margin-bottom: 0;
  padding: 0 20%;
}

.about-logo-text2 {
  text-align: center;
  font-size: 1rem;
  color: var(--black);
  margin-bottom: 0;
  padding: 0 15%;
}

.logo-container {
  text-align: center;
  border: 1.5px solid #efeef2cf;
  margin-top: 5%;
  width: 100%;
}

.past-event-section {
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10%;
}

.past-event-text1 {
  color: var(--black);
  text-align: center;
  font-size: 23px;

  /* font-weight: bold; */
  margin-bottom: 0;
  padding: 0 10%;
}

.past-event-text2 {
  text-align: center;
  font-size: 1rem;
  color: var(--black);
  margin-bottom: 0;
  padding: 0 5%;
}

.past-event-img1 {
  background-image: linear-gradient(rgba(158, 3, 3, 0.6), rgba(234, 20, 20, 0.6)), url(images/conference1.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  width: 100%;
  margin-top: 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.past-event-img2 {
  background-image: linear-gradient(rgba(158, 3, 3, 0.6), rgba(234, 20, 20, 0.6)), url(images/conference2.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  width: 100%;
  margin-top: 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.partner-container {
  display: flex;
  flex-direction: column;
  background-color: #414246;
}

.partner-text {
  color: var(--white);
  text-align: center;
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 0;
}

.partner-list {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin: 0 0 5% 0;
}

.footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer-logo {
  padding: 3%;
}

.footer-license {
  padding: 2%;
}

/* Desktop Hide */

/* Home */
.desktop-menu-container {
  display: none;
}

.miniItems {
  display: none;
}

#seeMore {
  display: none;
}

.partner-container-desktop {
  display: none;
}

.footer-container-desktop {
  display: none;
}

/* About */

.about-text-container .guide-bar {
  display: none;
}

.footer-logo-desktop {
  display: none;
}

.hover-text:hover {
  color: var(--orange);
  transition: 0.3s;
}

/* For Desktop */
@media only screen and (min-width: 768px) {
  .nav-bar {
    display: flex;
    flex-direction: column;
  }

  .hamburger-container {
    display: none;
  }

  .hamburger {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .miniNav {
    display: flex;
    background-color: #272a31;
    height: 30px;
  }

  .miniItems {
    display: flex;
    justify-content: flex-end;
    width: 85%;
    gap: 15px;
    align-items: center;
  }

  .miniItems a {
    color: var(--white);
    text-decoration: none;
    font-size: 13px;
  }

  .desktop-menu-container {
    display: flex;
  }

  .desktop-menu {
    display: flex;
    justify-content: center;
    width: 85%;
    gap: 3.5%;
    align-items: center;
    list-style-type: none;
  }

  .desktop-menu-container img {
    width: 200px;
    height: 46.4px;
    margin: 1% 10%;
  }

  .desktop-menu li {
    justify-content: space-around;
  }

  .footer-logo-desktop {
    display: block;
    padding: 5% 0;
  }

  .footer-license a {
    font-size: 0.7rem;
    text-decoration: none;
    color: var(--white);
  }

  .footer-license-desktop a {
    font-size: 0.7rem;
    text-decoration: none;
    color: var(--black);
  }

  .desktop-menu li a {
    text-decoration: none;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    color: var(--black);
  }

  .aeCampaign {
    width: 120px;
    height: 35px;
    background-color: var(--white);
    align-self: center;
    border: 3.5px solid var(--orange);
    color: var(--orange);
    font-weight: 600;
  }

  .text-container {
    max-width: 732.84px;
    margin-left: 20%;
    margin-top: 5%;
  }

  .content-container {
    max-width: 550px;
    font-weight: 400;
    line-height: 142%;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;
  }

  .program-list {
    flex-direction: row;
    gap: 5px;
    margin: 5% 15%;
    height: 40%;
  }

  .list-item {
    display: inherit;
    width: 20%;
  }

  .program-list .list-item .sub-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5% 5%;
  }

  .sub-list-title {
    margin: 0;
  }

  .sub-list li .sub-list-text {
    text-align: center;
    margin-bottom: 5%;
  }

  .btn-submit-container {
    display: none;
  }

  #seeMore {
    display: block;
    margin-bottom: 5%;
    color: var(--white);
    cursor: pointer;
    text-decoration: underline;
    text-align: center;
  }

  #speakers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  #see-more-btn {
    display: none;
  }

  .partner-container-desktop {
    display: flex;
    flex-direction: column;
    background-color: #414246;
  }

  .footer-container-desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10%;
  }

  .footer-logo img {
    width: 200px;
    height: auto;
  }

  /* About Page Start */
  .about-text1 {
    display: none;
  }

  .about-text2 {
    margin-bottom: 0;
  }

  .about-text-container .guide-bar {
    display: block;
  }

  .about-content-desktop-text {
    display: block;
  }

  .about-content-mobile-text {
    display: none;
  }

  .logo-container {
    max-width: 542px;
    height: auto;
  }

  .past-event-img-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 4%;
    margin: 3% 16% 0;
  }

  .partner-container {
    display: none;
  }

  .footer-container {
    background-color: var(--black);
  }

  .footer-logo {
    display: none;
  }

  .footer-logo-desktop img {
    width: 200px;
    height: auto;
  }
}
